name: Deploy to VPS

on:
  push:
    branches:
      - main # Chỉ chạy khi có push lên nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}


        script: |
          # Bước 1: Tải NVM (Node Version Manager) để sử dụng npm và pm2
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
       
          # Bước 2: Di chuyển đến thư mục dự án
          cd /root/portfolio-website
       
          # Bước 3: Kéo code mới nhất từ nhánh main
          git pull origin main
      
          # Bước 4: Cài đặt hoặc cập nhật các dependencies
          npm install
      
          # Bước 5: Build lại dự án
          npm run build
      
          # Bước 6: Khởi động lại ứng dụng bằng PM2
          pm2 restart portfolio-app

